.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 4;
}

.header__subtitle {
  margin: 0;
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 3;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__link:hover {
  transition: background-color 1s linear 0.5s;
  opacity: 0.5;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-size: cover;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  position: absolute;
  top: 64px;
  right: 0px;
  z-index: 1;
  background-color: #2f80ed;
}
