.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  color: white;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 250px;
}
